select.form-control {
    -webkit-appearance: menulist;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #87defd;
    background: -webkit-radial-gradient(#87defd 0%, #53caf1 40%, #05a6e1 100%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(#87defd 0%, #53caf1 40%, #05a6e1 100%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#87defd 0%, #53caf1 40%, #05a6e1 100%); /* For Firefox 3.6-15 */
    background: radial-gradient(#87defd 0%, #53caf1 40%, #05a6e1 100%); /* Standard syntax */
}

.title {
    margin-top: 20vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.questions-select {
    margin-top: 20vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.start-button {
    margin-top: 20vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.left-side {
    display: table-cell;
    float: none;
}

.right-side {
    display: table-cell;
    float: none;
}

#questionTable {
    text-align: -webkit-center;
}

.quiz-progress-bar {
    margin-top: 5vh;
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    height: 20px;

}

.quiz-question {
    margin-top: 5vh;
    padding: 5vh;
    border: 1px solid;
}

.quiz-answers {
    height : 40vh;
    overflow: scroll;
}

.quiz-answer {
    margin-left: 10px;
    margin-top: 4px;
    padding : 5px;
}

::-webkit-scrollbar {
    width: 10px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    height: 50%;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: transparent;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.quiz-invalid-answer {
    background-color: rgba(200, 0, 0, 0.35);
}

.quiz-valid-answer {
    background-color: rgba(0, 200, 0, 0.35);
}