<!DOCTYPE html>
<html>
<head>
    <!-- Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap: zoom for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>Quiz</title>

</head>

<body>
<!-- bootstrap: the whole page must be wrapped in a container or container-fluid -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <uib-progressbar class="progress-striped quiz-progress-bar" animate="true" value="100*countFrom/countTo">{{countFrom}}/{{countTo}}</uib-progressbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="quiz-question">{{question}}</h4>
        </div>
    </div>

    <div class="row quiz-answers" >
        <div class="col-md-12 text-left" ng-repeat="questionAnswer in currentAnswers track by $index">
            <label class="quiz-answer {{questionAnswer.class}}">
                <input ng-disabled="goToNextQuestionButtonVisible" type="checkbox" ng-model="questionAnswer.isSelected" ng-click="optionSelected(questionAnswer.isSelected);"> {{questionAnswer.text}}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button ng-init="validateAnswerDisabled=true" ng-disabled="validateAnswerDisabled || goToNextQuestionButtonVisible"
                style="padding-left:30px; padding-right: 30px;"
                ng-click="validateQuestion()"
                type="button" class="btn btn-success">OK</button>
        <button style="margin-left:30px;" ng-init="goToNextQuestionButtonVisible = false;" ng-hide="!goToNextQuestionButtonVisible"
                ng-click="goToNextQuestion()"
                type="button" class="btn btn-primary">Next></button>
    </div>
</div>
</div>

</div>
</body>
</html>
