<!DOCTYPE html>
<html>
<head>
    <!-- Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap: zoom for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>Quiz Result</title>
</head>

<body ng-cloak>
<!-- bootstrap: the whole page must be wrapped in a container or container-fluid -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" ng-init="fc = userScore >= 70 ? {color:'green'} : {color:'red'}">
            <h2 style="margin-top:30vh">Your Score:</h2>
            <h1 style="margin-top:8vh;" ng-style="fc">{{userScore}}%</h1>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12 text-right">
    <button style="margin-top:10vh; margin-right:10vw; padding-left:30px; padding-right: 30px;"
            ng-click="goToMenu()"
            type="button" class="btn btn-primary">New Quiz</button>
        </div>
</div>

</div>
</body>
</html>
