<!DOCTYPE html>
<html>
<head>
    <!-- Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap: zoom for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>Welcome to the Quiz</title>
</head>

<body>
<!-- bootstrap: the whole page must be wrapped in a container or container-fluid -->
<div class="container">
    <div class="row title">
        <div class="col-md-12 text-center">
            <h1>Web Quiz App</h1>
        </div>
    </div>

    <div class="row questions-select" id="questionTable">
        <div class="col-md-8 left-side">
            <h5 >How many questions would you like?</h5>
        </div>
        <div class="col-md-4 right-side">
            <select data-type="btn-primary" name="quizQuestionsNumberSelect" id="quizQuestionsNumberSelect"
                    ng-options="option.name for option in quizQuestionsNumber.availableOptions track by option.id"
                    ng-model="quizQuestionsNumber.selectedOption"></select>
        </div>
    </div>

    <div class="row start-button">
        <div class="col-md-12 text-center">
            <button ng-init="startQuizDisabled=true" ng-disabled="startQuizDisabled"
                    ng-click="startQuiz()"
                    type="button" class="btn btn-primary">Start the Quiz!</button>
        </div>
    </div>
</div>
</body>
</html>
